<!-- <p>login works!</p> -->
<!-- As a link -->
<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
  </nav>
  <p>{{aim}}</p>
  
  
  <div class="container col-md-12 mt-0">
      <div class="d-flex justify-content-center h-100">
          <div class="card">
              <div class="card-header">
                  <h3 class="text-center">Sign In</h3>
                  
              </div>
              <div class="card-body">
                  <form  [formGroup]="loginForm" (ngSubmit)="login()">
                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user"></i></span>
                          </div>
                          <input type="text" class="form-control"  name="acno" formControlName="acno"   placeholder="accno"  id="login_accno" required>
                          
                      </div>

    <div class="error"  *ngIf="(this.loginForm.get('acno')?.touched||this.loginForm.get('acno')?.dirty)&&this.loginForm.get('acno')?.errors"   >invalid account no</div>    

                      <div class="input-group form-group">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-key"></i></span>
                          </div>
                          <input type="password" class="form-control" name="pwd"  formControlName="pwd"   placeholder="password" id="login_password" required>
                      </div>

    <div class="error"  *ngIf="(this.loginForm.get('pwd')?.touched||this.loginForm.get('pwd')?.dirty)&&this.loginForm.get('pwd')?.errors"   >invalid account no</div>                   
                      
                      <div class="form-group">
                          <input type="submit" value="Login"  class="btn float-right login_btn " style="width:50%" >
                      </div>
                  </form>
              </div>
              <p style="color:white;align-items:baseline;">Not a user? <a routerLink="register">Register</a></p>
          </div>
      </div>
  </div>







  <!-- (change)="acnochange($event)"  
 reference variable
 #acno
 #pwd
  (click)="login(acno,pwd)" 

[(ngmodal)]
service
(click)="login()"

ngsubmit- use inside form tag ,remove the event from button  and chnge the type

[(ngModel)]= "pwd"-->
